*{padding: 0;
margin: 0}

body{background-color: #FF97BD;
font-size: 16px;
font-family: "Verdana";}

ul{list-style: none;}

.boxing {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}

.clearfix {
	content: "";
	display: block;
	clear: both;
}



.container{margin: 12vh auto 0 27vh;
position: relative;}

.cont-left{position: relative;
height: 76vh;
width: 40%;
border-radius: 2% 0 0 2%;
background-color: #5249BA;
}

.cont-right{position: relative;
	height: 76vh;
	width: 40%;
	border-radius: 0 2% 2% 0;
	background-color: white; 
}

.cont-right, .cont-left{float: left}

.cont-left .top-div{
	position: relative;
	height: 10vh;
	width: 100%;
	padding: 0px 30px;
}

.cont-left .middle-div{
	position: relative;
	height: 10vh;
	width: 100%;
	padding: 0px 30px;
}

.cont-left .bot-div{
	position: relative;
	height: 55vh;
	width: 100%;
	padding: 0px 30px;
}

.cont-left .top-div .bar{
	
	height: 20px;
	width: 20px;
	position: absolute;
	top: 18px;
}

.cont-left .top-div .bar.menu-btn {
	background: url("../img/menu-btn.png") center no-repeat;
	background-size: 16px;
	left: 30px;
}

.cont-left .top-div .bar.video-btn {
	right: 120px;
	background: url("../img/video-cam.png") center no-repeat;
	background-size: 12px;
}
.cont-left .top-div .bar.arrow-btn{
	right: 80px;
	background: url("../img/up-arrow.png") center no-repeat;
	background-size: 12px;

}
.cont-left .top-div .bar.more-btn{
	right: 40px;
	background: url("../img/more-1.png") center no-repeat;
	background-size: 5px;
}

.cont-left .middle-div .notify{
	border: 1px solid #988CE7;
	height: 15px;
	width: 15px;
	border-radius: 100%;
	position: absolute;
	top: 20px;
	background-color: #988CE7;
}

.cont-left .middle-div .notify p{text-align: center;
color: #463AAE;
top: -3px;
left: 1px;
position: absolute;
}

.cont-left .middle-div .nc {position: absolute;
top: 22px;
left: 60px;
color: #988CE7;
font-size: 12px;
font-weight: bold;}

.avatar-def {
height: 35px;
width: 35px;
border-radius: 100%;
position: relative;}

.username {position: relative;
padding-left: 48px;
top: -32px;
font-size: 12px;
color: #D7D4F4;}

.status-msg {position: relative;
padding-left: 48px;
top: -30px;
font-size: 10px;
color: #938AE6;
}

span {
font-size: 10px;
position: relative;
float: left;
left: 350px;
bottom: 60px;
color: #968DE6;
}



.one{background: url("../img/dp1.jpg") center no-repeat;
background-size: cover;
}

.two{background: url("../img/dp2.jpg") center no-repeat;
background-size: cover;
}

.three{background: url("../img/dp3.jpg") center no-repeat;
background-size: cover;
}

.four{background: url("../img/dp4.jpg") center no-repeat;
background-size: cover;
}

.five{background: url("../img/dp5.jpg") center no-repeat;
background-size: cover;
}

.six{background: url("../img/dp6.jpg") center no-repeat;
background-size: cover;
}

.avatar-def .indicator{position: absolute;
height: 12px;
width: 12px;
border-radius: 100%;
left: 25px;
}

.avatar-def .indicator.online{background-color: #F4227C;}

.avatar-def .indicator.online p{color: #FFF;
font-size: 8px;
text-align: center;}

.cont-right .masthead {
	position: relative;
	height: 10vh;
	width: 100%;
	padding: 0px 30px;
	
}

.cont-right .masthead .header {
	padding: 30px 30px 0 0px;
	color: #B4ACFF;
	font-size: 12px;

}

.avatar-display {
	border: 1px solid #ccc;
	height: 25px;
	width: 25px;
	border-radius: 100%;
	position: absolute;
	top: 18px;
}

.user-image {
	background: url("../img/dp1.jpg") center no-repeat;
	background-size: cover;
	position: absolute;
	left: 340px;
}

.user-icon {left: 360px;
	background: url("../img/dp4.jpg") center no-repeat;
	background-size: cover;
}

.add-user{
cursor: pointer;
left: 400px;
border: 2px solid #cc99ff;
height: 22px;
width: 22px;
top: 18px;
	background: url("../img/add-user.png") center no-repeat;
	background-size: 14px;
 }



.avatar-display .alert.notiv:before{
	content: "";
	position: absolute;
	top: 0px;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	background-color: #9CD920;
	margin-left: -6px;
}




.view .reply-section{
	position: absolute;
	bottom: 0;
	left: 30px;
	width: 90%;
	height: 72px;
	border-top: 3px solid #F7F6FD;
	/*box-shadow: 0 -1px 10px rgba(0,0,0,.2);*/
	z-index: 0;
}

.text-field{
	position: relative;
	display: block;
	outline: none;
	border-collapse: none;
	background-color: white;
	font-size: 13px;
	font-weight: 400;
	padding: 18px 0 22px 0;
	resize: none;
	font-family: "Verdana";

	}


.text-field::-webkit-input-placeholder {
 color: #706EC1;
}

	.reply-section .reply-field{
	width: 100%;
	height: 100%;
	border-color: transparent;
	box-sizing: border-box;
	padding-top: 25px;

}

.chat .chat-list{
	position: absolute;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	/*overflow-x: hidden;
	overflow-y: auto;*/
	padding: 34px 35px;
}

.chat-listItem{
	position: relative;
	border-bottom: 39px;
	box-sizing: border-box;
}

.chat-list p {font-size: 11px;}

.chat-list .left-box p {color: white}
.chat-list .right-box p {color: #7270AA}

.chat-listItem .message{padding-bottom: 29px; }

.chat-list .left-box{
	position: relative;
	height: 50px;
	width: 210px;
	left: 20px;
	/*color: #455B65;*/
	background-color: #B1A8FF;
	border-radius: 0 9px 9px 9px;
	margin: 8px 0;
}

.left-box .comment{position: relative;
bottom: 35px}

.chat-list .right-box {float: right;
	height: 40px;
	width: 200px;
	background-color: #F5F4FF;
	margin: 10px 0;
	border-radius: 0 9px 9px 9px;
	position: relative;
	right: 40px;

}

.chatbox {padding: 15px;}

.chat-list .msg-place {
float: right;
color: #D8CEFF;
font-size: 10px;
}

.chat-list .msg-time {
position: relative;
top: 10px;
left: 30px;
color: #AEA5FF;
font-size: 10px;
}

.view .chat-profile {
	border: 1px solid #ccc;
	height: 25px;
	width: 25px;
	border-radius: 100%;
	background-color: #4fa;
	
}

.chat-list .left-box .chat-profile.user {
	position: relative;
	right: 30px;
	top: 5px;
	background: url("../img/dp1.jpg") center no-repeat;
	background-size: cover;
}

.chat-list .right-box .chat-profile.received {
	position: relative;
	left: 105%;
	bottom: 50px;
	background: url("../img/dp4.jpg") center no-repeat;
	background-size: cover;
}

.reply-section .img-fab {
	height: 20px; width: 20px;
	position: relative;
	background: url("../img/picture-2.png") center no-repeat;
	background-size: cover;
	bottom: 45px;
	left: 90%;
}

.bot-div .profile-2 {
	border-right: 5px solid #FFA4C5;
	height: 100%;
	width: 92.7%;
}

.bot-div .profile-2 .tm{color: #CFC031;}

